.igra {
    width: 800px;
    height: 512px;
    margin-left: auto;
    margin-right: auto;
}

.board {
    padding: 0;
    width: 512px;
    height: 512px;
    margin: 0;
    float: left
}

.captured_pieces_w {
    padding: 0;
    width: 128px;
    height: 512px;
    margin-right:10px;
    margin-left: 0px;
    background-color: #eeeed2;
    border-style: solid;
    border-color: #769656;
    border-width: 2px;
    float: left;
}

.captured_pieces_b {
    padding: 0;
    width: 128px;
    height: 512px;
    margin-right: 0px;
    margin-left:10px;
    background-color: #eeeed2;
    border-style: solid;
    border-color: #769656;
    border-width: 2px;
    float: left;
}

.square_b {
    width: 64px;
    height: 64px;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
    background-color: 	#769656;
}

.square_w {
    width: 64px;
    height: 64px;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
    background-color: 	#eeeed2;
}

.info {
    width:100%;
    margin-top: 3%;
}

.info p{
    text-align: center;
    color: #1a1a1a;
    font-size: 200%;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
    background: none;
    color: rgba(0, 0, 0, 0);
}

#new_game_button {
    width: 200px;
    height: 60px;
    background-color: #e7e7e7;
    display: flex;
    text-align: center;
    font-size: 150%;
    color: rgb(20, 20, 20);
    cursor: pointer;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.promotion{
    width: 192px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #eeeed2;
    border-style: solid;
    border-color: #769656;
    border-width: 2px;
}

.promotion_bl{
    width: 200px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 2px;
}

.piece {
    width: 64px;
    height: 64px;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
    background: none;
}

#new_game form :hover{
    background-color: #bbbbbb;
}