.board {
    width: 768px;
    height: 768px;
    margin-left: auto;
    margin-right: auto;
}

.square_b {
    width: 96px;
    height: 96px;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
    background-color: 	#769656;
}

.square_w {
    width: 96px;
    height: 96px;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
    background-color: 	#eeeed2;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
    background: none;
    color: rgba(0, 0, 0, 0)
}

.new_game_button {
    width: 200px;
    height: 60px;
    background-color: #ececaf;
    border: none;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new_game_button p{
    font-size: 200%;
    color: #769656;
}

