.igra {
    width: 1000px;
    height: 512px;
    margin-left: auto;
    margin-right: auto;
}

.board {
    width: 512px;
    height: 512px;
    margin-left: auto;
    margin-right: auto;
}

.captured_pieces {
    width: 512px;
    height: 128px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeed2;
    border-style: solid;
    border-color: #769656;
}

.square_b {
    width: 64px;
    height: 64px;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
    background-color: 	#769656;
}

.square_w {
    width: 64px;
    height: 64px;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
    background-color: 	#eeeed2;
}

.info {
    margin-left: auto;
    margin-right: auto;
}

.info p{
    text-align: center;
    color: #000000;
    font-size: 300%;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    float: left;
    background: none;
    color: rgba(0, 0, 0, 0);
}

#new_game_button {
    width: 200px;
    height: 60px;
    background-color: #e7e7e7;
    float: left;
    display: flex;
    text-align: center;
    font-size: 150%;
    color: rgb(20, 20, 20);
    cursor: pointer;
    border: none;
}
